<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    Productos
  </div>
  <div class="card-body">
    <table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= cycle('table-primary', '') %>">
        <td><%= product.title %></td>
        <td><%= sanitize(product.description) %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Mostrar', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <div class="card-footer">
    <%= link_to 'Nuevo Producto', new_product_path %>
  </div>
</div>
