<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Regresar', products_path %>
